node_modules
.expo
dist
web-build
*.tsbuildinfo
ios
android
coverage
*.log

# Configuration files that don't need prettier formatting
.gitignore
.prettierignore
*.properties
*.code-workspace
lefthook.yml

