node_modules
.expo
dist
web-build
*.tsbuildinfo
.sonarlint
ios
android
coverage
*.log
.trunk

# Configuration files that don't need prettier formatting
.gitignore
.prettierignore
*.properties
*.code-workspace
lefthook.yml

